
.footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 3px solid teal;
  border-bottom: 3px solid teal;
  background-color: cadetblue;
}

.footer-photo-git {
  height: 30px;
  width:30px;
}

.footer-photo-linked {
  height: 37px;
  width:37px;
}
