
.footer-container {
  border-top: 3px solid teal;
  border-radius: 4px;
  background-color: cadetblue;
}

.footer-photo-git {
  height: 30px;
  width:30px;
}

.footer-photo-linked {
  height: 37px;
  width:37px;
}
