
.form-container {
  background-color: #faf3dd;
}

.pic-note {
  font-size: .5em;
}

.form-container {
  display: grid;
  grid-template-areas: 
  "S S S S"
  "ST SI SI SI"
  "L LI D DI"
  "R RI RI RI"
  "R RI RI RI"
  "R RI RI RI"
  "P PI PI PI"
  "PN PN PN PN"
  "SB SB SB SB"
  ;
}

.title {
  grid-area: S;
  margin-bottom: 20px;
  font-size: 1.5em;
}

.type-title {
  display:flex;
  justify-content: flex-end;
  padding-right:30px;
  grid-area: ST;
}
.type-input {
  grid-area: SI;
  margin-right: 100px;
  margin-bottom: 20px;
  max-width:300px;
  height: 24px;
}

.location-title {
  grid-area: L;
  display:flex;
  justify-content: flex-end;
  padding-right:30px;
}
.location-input {
  grid-area: LI;
  margin-bottom: 20px;
  max-width: 300px;;
}

.date-title {
  grid-area: D;
  display:flex;
  justify-content: flex-end;
  padding-right:30px;
}
.date-input {
  grid-area: DI;
  margin-right: 100px;
  margin-bottom: 20px;
}

.report-title {
  grid-area: R;
  display:flex;
  justify-content: flex-end;
  padding-right:30px;
}
.report-input {
  grid-area: RI;
  margin-right: 100px;
  margin-bottom: 20px;
  height: 80px;
}

.photo-title {
  grid-area: P;
  display:flex;
  justify-content: flex-end;
  padding-right:30px;
}
.photo-input {
  grid-area: PI;
  margin-right: 100px;
}

.pic-note {
  grid-area: PN;
}

.submit-button {
  grid-area: SB;
  width: 170px;
  justify-self: center;
  margin-bottom: 20px;
  margin-top:10px;
}