
.header-container {
  display: grid;
  grid-template-columns: 100px 300px auto 200px;
  grid-template-rows: 74.5px;
  font-family: 'Padauk', sans-serif;
  /* border: 1px solid orange; */
  background-color: rgb(203, 223, 239);
}

.header-img{
  grid-column: 1/2;
  max-width: 100px;
}

.name {
  font-size: 3em;
  grid-column: 2/3;
  margin: 10px;
  /* border: 1px solid purple; */
}

.links-container {
  grid-column: 4/5;
  align-self: flex-end;
  /* border: 1px solid blue; */
}

.nav-links {
  margin: 5px;
  padding:5px;
}

.name {
  text-align: left;;
}
