
.home-parent{
  display:grid;
  grid-template-columns: 100px 100px 100px 200px;
  grid-template-rows: 100px ;
  grid-template-areas:  
  "T L D P P"
  "E R R P P"
  "X R R P P";
  border-top: 3px solid teal;
  justify-content: space-between;
  background-color: 	#FFFFF0;
}

.type {
  grid-area: T;
  padding-top: 10px;
  font-style: italic;
}

.loc {
  grid-area: L;
  padding-top: 10px;
  font-weight: bold;
}

.date {
  grid-area: D;
  padding-top: 10px;
}

.report {
  grid-area: R;
  padding-left: 30px;
  padding-right: 10px;
  text-align: left;
}

.edit-button {
  grid-area: E;
  display: flex;
  align-items: center;
  justify-content:center;
  height: 30px;
  border-radius: 4px;
  margin-left: 10px;
  text-align:center;
  background-color: #1d3557;
  color: white;
  font-family: 'Padauk', sans-serif;
  text-decoration: none;
  width:100px;
  font-size: 1em;
  opacity: 0.8;
}
.edit-button:hover {
  opacity: 1;
} 
a {
  text-decoration: none;
}

.delete-button {
  grid-area: X;
  font-family: 'Padauk', sans-serif;
  height: 30px;
  border-radius: 4px;
  margin-left: 10px;
  text-align: center;
  background-color: #1d3557;
  color: white;
  width:100px;
  font-size: 1em;
  opacity: 0.8;
}
.delete-button:hover {
  opacity: 1;
}

.pic {
  grid-column: 4/6;
  grid-row:1/4;
  grid-row-end: 6;
  max-width: 400px;
  height: 200px; 
  border-radius: 4px;
}

/* media queries below */

@media only screen and (max-width: 710px) {
  .home-parent {
    display: flex;
    flex-wrap: wrap;
  }
}
